# IDE files
/.project
/.settings
/.cproject
/.idea
/.vscode

# Meson build system
/.cache
/.cache/clangd
/.cache/clangd/index
/.coverage
/.coveragerc
/install dir
/work area
/meson-test-run.txt
/meson-test-run.xml
/meson-cross-test-run.txt
/meson-cross-test-run.xml
packagecache
/MANIFEST
/build
/dist
/meson.egg-info
/docs/built_docs
/docs/hotdoc-private*
